[include]
    path = ~/.gitconfig.local

[color]
    ui = auto

[core]
    editor = vim
    autocrlf = input
    pager = less -KRFX

[commit]
    # Show 'diff --cached' when writing commit message
    verbose = true

[diff]
    tool = kitty
    guitool = kitty.gui
    algorithm = patience
    ignoreSubmodules = untracked

[difftool]
    trustExitCode = true
    prompt = false

[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE

[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE

[fetch]
    prune = true
    pruneTags = true

[grep]
    lineNumber = true
    patternType = perl

[log]
    date = iso
    decorate = true

[merge]
    ff = false
    tool = vimdiff
    guitool = gvimdiff

[pull]
    rebase = true

[push]
    default = current

[rebase]
    autoSquash = true
    missingCommitsCheck = error

[status]
    showStash = true
    ignoreSubmodules = untracked

[alias]
    s = status

    l = log --graph --date-order --oneline
    ll = log --graph --date-order --show-signature --stat
    la = log --all --graph --date-order --oneline
    lla = log --all --graph --date-order --show-signature --stat

    a = add
    aa = add -A
    au = add -u
    ap = add --patch
    # undo add
    ua = reset HEAD
    uap = reset --patch HEAD

    d = diff
    dc = diff --cached

    c = commit
    ca = commit --amend
    can = commit --amend --no-edit
    cf = commit --fixup
    # undo commit
    uc = reset --soft HEAD~

    b = branch
    bm = branch -m
    bd = branch --delete
    # delete merged branch except current, master and develop
    bdm = !git branch --merged | grep -vE '^(\\* |  (master|develop)$)' | xargs -r git branch --delete

    ch = checkout
    chm = checkout --merge
    chb = checkout -b

    m = merge
    mc = merge --continue
    ma = merge --abort

    rb = rebase
    rbm = rebase master
    rbi = rebase --interactive
    rbim = rebase --interactive master
    rbc = rebase --continue
    rba = rebase --abort
    rbs = rebase --skip

    f = fetch
    fa = fetch --all --tags

    pl = pull
    plo = pull origin
    plu = pull upstream

    po = push origin
    poa = push origin --all --follow-tags
    pot = push origin --tags
    pu = push upstream
    pua = push upstream --all --follow-tags
    put = push upstream --tags

    rs = remote show
    rso = remote show origin
    rsu = remote show upstream

    st = stash
    stl = stash list --stat
    sts = stash show --patch

    bi = bisect

    cl = clean -d --interactive

    w = worktree
    wl = worktree list
    wa = worktree add
    wp = worktree prune

    sub = submodule
    suba = submodule add
    subu = submodule update

    dt = difftool --dir-diff
    dtc = difftool --dir-diff --cached
    mt = mergetool
