[submodule ".oh-my-zsh/custom/themes/powerlevel9k"]
	path = .oh-my-zsh/custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/delimitmate"]
	path = .vim/bundle/delimitmate
	url = https://github.com/raimondi/delimitmate
[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule ".vim/bundle/editorconfig"]
	path = .vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/indent-guides"]
	path = .vim/bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule ".vim/bundle/multiple-cursors"]
	path = .vim/bundle/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/signature"]
	path = .vim/bundle/signature
	url = https://github.com/kshenoy/vim-signature
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/trailing-whitespace"]
	path = .vim/bundle/trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule ".vim/bundle/gutentags"]
	path = .vim/bundle/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule ".vim/bundle/phpcomplete"]
	path = .vim/bundle/phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule ".vim/bundle/youcompleteme"]
	path = .vim/bundle/youcompleteme
	url = https://github.com/valloric/youcompleteme
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/gitgutter"]
	path = .vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/jinja"]
	path = .vim/bundle/jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule ".vim/bundle/python-pep8-indent"]
	path = .vim/bundle/python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule ".vim/bundle/python-syntax"]
	path = .vim/bundle/python-syntax
	url = https://github.com/hdima/python-syntax
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/sirver/ultisnips
[submodule ".tmux/plugins/resurrect"]
	path = .tmux/plugins/resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".tmux/plugins/continuum"]
	path = .tmux/plugins/continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule ".tmux/plugins/yank"]
	path = .tmux/plugins/yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule ".vim/bundle/vimtex"]
	path = .vim/bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/bundle/gtk-syntax"]
	path = .vim/bundle/gtk-syntax
	url = https://github.com/vim-scripts/gtk-vim-syntax
[submodule ".vim/bundle/nette"]
	path = .vim/bundle/nette
	url = https://github.com/fpob/nette.vim.git
[submodule ".vim/bundle/matchtag"]
	path = .vim/bundle/matchtag
	url = https://github.com/gregsexton/matchtag
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip
