[MASTER]
persistent=yes

[FORMAT]
max-line-length=80
max-module-lines=1000
indent-string='    '

[MISCELLANEOUS]
notes=FIXME,XXX,TODO

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes

[BASIC]
bad-functions=
good-names=i,j,k,e,f,fd,ex,_
bad-names=foo,bar,baz
no-docstring-rgx=__.*__

[IMPORTS]
import-graph=
ext-import-graph=
int-import-graph=

[DESIGN]
max-args=10
ignored-argument-names=_.*

[TYPECHECK]
generated-members=sh
