snippet c) "Copyright"
Copyright (c) `date +%Y` ${1:`!v g:snips_author`}.
All Rights Reserved.
endsnippet

snippet author
`!v g:snips_author` <`!v g:snips_author_email`>
endsnippet

snippet date "Current date ISO" w
`date +%F`
endsnippet

snippet datetime "Current datetime ISO" w
`date +'%F %T'`
endsnippet
