snippet tag "Multiline pair tag"
<${1}>
	${VISUAL}$0
</${1/^([^ ]+).*$/$1/}>
endsnippet

snippet tagi "Oneline pair tag"
<${1}>${VISUAL}$0</${1/^([^ ]+).*$/$1/}>
endsnippet

snippet div
<div${1}>
	${VISUAL}$0
</div>
endsnippet
