snippet @cc "click.command" b
@click.command()$0
def ${1:cli}():
	${2:...}


if __name__ == '__main__':
	$1()
endsnippet

snippet @cg "click.group" b
@click.group()$0
def ${1:cli}():
	${2:...}


if __name__ == '__main__':
	$1()
endsnippet

snippet @ca "click.argument" b
@click.argument(${1})$0
endsnippet

snippet @co "click.option" b
@click.option(${1})$0
endsnippet

snippet ce "click.echo"
click.echo(${1})$0
endsnippet
