snippet me
	`!lua sh("git config --includes user.name 2>/dev/null")` <`!lua sh("git config --includes user.email 2>/dev/null")`>
snippet date
	`!lua os.date("%F")`
snippet datetime
	`!lua os.date("%F %T")`
