[Desktop Entry]
Type=Application
Name=i3-mate
NoDisplay=true
GenericName=A dynamic tiling window manager
Comment=improved dynamic tiling window manager
Exec=i3 -c .config/i3-mate/config
X-GNOME-WMName=i3-mate
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
